<div class="panel panel-default table-responsive">
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>ChannelId</th>
                    <th>Category</th>
                    <th>Logo</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in channels" ng-click="fnEditChannelName(item.Id,item.ChannelName,item.ChannelCategoryId,item.CategoryDescription)">
                    <td>{{item.ChannelId}}</td>
                    <td>{{item.CategoryDescription}}</td>
                    <td><img ng-src="{{item.LogoPath}}" /></td>
                    <td>{{item.ChannelName}}</td>
                    <td><a href="#!/Programs/{{item.ChannelId}}" target="_self">Programs List</a></td>

                </tr>
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->