<div class="row">
    <div class="col-lg-8">

        <div class="panel panel-default">
          
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Progress</th>
                        <th></th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bug Fixes</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>45%</td>
                        <td><span class="badge badge-info">2hr</span></td>
                    </tr>
                    <tr>
                        <td>Mobile Development</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-success" style="width: 61%">
                                    <span class="sr-only">61% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>61%</td>
                        <td><span class="badge badge-info">1hr</span></td>
                    </tr>
                    <tr>
                        <td>Unit Testing</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-danger" style="width: 97%">
                                    <span class="sr-only">97% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>97%</td>
                        <td><span class="badge badge-info">5m</span></td>
                    </tr>
                    <tr>
                        <td>New frontend layout</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-warning" style="width: 18%">
                                    <span class="sr-only">18% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>18%</td>
                        <td><span class="badge badge-info">12hr</span></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /panel -->

    </div><!-- /.col -->
    <div class="col-lg-4">
        <div class="panel bg-info fadeInDown animation-delay4">
            <div class="panel-body">
                <div id="lineChart" style="height: 150px;"></div>
                <div class="pull-right text-right">
                    <div class="seperator"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                </div><!-- /.row -->
            </div>
        </div><!-- /panel -->

    </div><!-- /.col -->
</div><!-- /.row -->