<div class="panel bg-info fadeInDown animation-delay4">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-2">
                    Name
                </div>
                <div class="col-lg-10">
                    <input class="form-control input-group-lg" type="text" ng-model="selectedChannel.ChannelName" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-2">
                    Category
                </div>
                <!--ng-model="selectedChannel.ChannelCategoryId"-->
                <div class="col-lg-8">
                    <select class="form-control chzn-select"
                            data-ng-options="category.ChannelCategoryId as category.Description for category in channelCategories"
                            ng-model="catid" ng-change="getCategoryId(catid)">
                        <option value="" disabled>Select Category</option>
                    </select>

                    <!--<select data-ng-options="h.id as h.time for h in dataDiri.home_service_time" ng-model="jamlayanan ">
                        <option value="" disabled>Select</option>
                    </select>-->
                </div>
                <div class="col-lg-2">
                    <input class="btn btn-success" type="button" value="Save" ng-click="fnSaveChannelName()">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-10">
                    <div class="col-lg-2">
                        Browse
                    </div>
                    <div class="col-lg-10">
                        <input type="file" name="attachment"
                               class="form-control" data-ak-file-model="selectedChannel.image" />
                    </div>
                </div>
                <div class="col-lg-1">
                    <input class="btn btn-primary" type="button" data-ng-click="uploadImage(selectedChannel)" value="upload">
                </div>
            </div>
        </div>
    </div>
</div>



