<div class="panel panel-default">
    <div class="panel-body">
        <form id="formToggleLine" class="form-horizontal no-margin form-border">
            <div class="form-group">
                <label class="col-lg-2 control-label">Program Name</label>
                <div class="col-lg-7">
                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Progam Name">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </div>
            </div><!-- /form-group -->

            <div class="form-group">

                <label class="col-lg-2 control-label">Browse</label>

                <div class="col-lg-7">
                    <input type="file" name="attachment"
                           class="form-control" data-ak-file-model="selectedChannel.image" />
                </div>
                <div class="col-lg-2">
                    <input class="btn btn-primary" type="button" data-ng-click="uploadImage(selectedChannel)" value="upload">
                </div>

            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Program Date</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input type="text" value="06/10/2013" class="datepicker form-control">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Start Time</label>
                <div class="col-lg-10">
                    <div class="input-group bootstrap-timepicker">
                        <input class="timepicker form-control" type="text" />
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
                <label class="col-lg-2 control-label">End Time</label>
                <div class="col-lg-10">
                    <div class="input-group bootstrap-timepicker">
                        <input class="timepicker form-control" type="text" />
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
                <div class="col-lg-2 control-label">
                    <input class="btn btn-primary" type="button" data-ng-click="uploadImage(selectedChannel)" value="Add Schedule">
                </div>
            </div>
</form>
    </div>
    <!-- Datepicker -->
    <script src='Scripts/js/bootstrap-datepicker.min.js'></script>
    <!-- Timepicker -->
    <script src='Scripts/js/bootstrap-timepicker.min.js'></script>
    <script src="Scripts/js/endless/endless_form.js"></script>
   
</div><!-- /panel -->