<div class="panel panel-default">
       <div class="panel-body">
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Program Name</label>
                    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                </div><!-- /form-group -->
                <button type="submit" class="btn btn-success btn-sm">Submit</button>
            </form> <!-- /form-group -->
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <div class="col-lg-2">
                        <label>Browse</label>
                    </div>
                    <div class="col-lg-7">
                        <input type="file" name="attachment"
                               class="form-control" data-ak-file-model="selectedChannel.image" />
                    </div>
                    <div class="col-lg-2">
                        <input class="btn btn-primary" type="button" data-ng-click="uploadImage(selectedChannel)" value="upload">
                    </div>
                </div>
            </form><!-- /form-group -->
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                    <div class="col-lg-2">
                        <label>Date Picker</label>
                    </div>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" value="06/10/2013" class="datepicker form-control">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                      
                    </div><!-- /.col -->
                </div><!-- /form-group -->
            </form>
        </div>
    </div>
</div><!-- /panel -->