<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        All Programs
        <span class="label label-info pull-right">790 Programs</span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr>
                    <th>ProgramId</th>
                    <th>ProgramName</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>#1003</td>
                    <td>Casual Boots</td>
                    <td>$99</td>
                    <td>100</td>
                    <td>12</td>
                    <td>Oct 06,2013</td>
                    <td><span class="label label-success">In Stock</span></td>
                </tr>
                <tr>
                    <td>#1004</td>
                    <td>Lambskin Sport Coat</td>
                    <td>$4000</td>
                    <td>7</td>
                    <td>41</td>
                    <td>Oct 06,2013</td>
                    <td><span class="label label-success">In Stock</span></td>
                </tr>
               
               
                <tr>
                    <td>#1011</td>
                    <td>Iphone 5</td>
                    <td>$400</td>
                    <td>300</td>
                    <td>152</td>
                    <td>Sep 27,2013</td>
                    <td><span class="label label-danger">In stock</span></td>
                </tr>
                <tr>
                    <td>#1012</td>
                    <td>Ipad</td>
                    <td>$350</td>
                    <td>46</td>
                    <td>103</td>
                    <td>Sep 25,2013</td>
                    <td><span class="label label-success">In Stock</span></td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.padding-md -->

</div><!-- /panel -->