<div class="row">
    <div ng-controller="channelController">
        <div class="col-lg-7">
            <div ng-include="'Template/ProgramDetails/_programDetailsGrid.html'"></div>
        </div>
        <div class="col-lg-5" >
            <div ng-include="'Template/ProgramDetails/_programNameSaveEdit.html'"></div>
            <div ng-include="'Template/ProgramDetails/_programLogoUpdate.html'"></div>
            <div ng-include="'Template/ProgramDetails/_programScheduleSave.html'"></div>

        </div>
    </div>
</div>